<app-lifedi-navbar></app-lifedi-navbar>

<div class="container" style="margin-top: 76px;">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center" style="margin: 15px 0;">จัดการคอร์ส</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <a mat-button (click)="admin()" [ngStyle]="{'color': typeUser === 'admin' ? 'red' : ''}"
        style="padding: 6px; margin-right: 5px;">
        คอร์สที่เปิดลงทะเบียน
      </a>
      <a mat-button (click)="teacher()" [ngStyle]="{'color': typeUser === 'teacher' ? 'red' : ''}"
        style="padding: 6px; margin-left: 5px;">
        คอร์สที่ปิดลงทะเบียน
      </a>
    </div>
    <div class="col-6">
      <!-- <form class="form-inline float-right"> -->
      <div *ngIf="typeUser === 'user'">
        <input type="text" class="form-control" placeholder="ค้นหา user" style="width: 70%; float: right;" />
      </div>
      <div *ngIf="typeUser === 'teacher'">
        <input type="text" class="form-control" placeholder="ค้นหา teacher" style="width: 70%; float: right;" />
      </div>
      <!-- </form> -->
    </div>
  </div>

  <div class="row">
    <div class="table-responsive" style="max-height: 74vh; border: 1px solid #dee2e6; width: 100%; overflow-y: scroll;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Email</th>
            <th>ชื่อ</th>
            <th>นามสกุล</th>
            <th>ที่อยู่</th>
            <th>วันเกิด</th>
            <th>เบอร์โทร</th>
            <th>อาชีพ</th>
            <th>รายได้ต่อเดือน</th>
            <th>สมัครจาก</th>
            <th>ประเภท user</th>
            <th>จัดการ</th>
          </tr>
        </thead>
        <tbody *ngIf="typeUser === 'user'">
          <tr *ngFor="let user of users">
            <td>
              {{user.email}}
            </td>
            <td>
              {{user.name}}
            </td>
            <td>
              {{user.lastname}}
            </td>
            <td>
              ที่อยู่
            </td>
            <td>
              วันเกิด
            </td>
            <td>
              เบอร์โทร
            </td>
            <td>
              อาชีพ
            </td>
            <td>
              รายได้
            </td>
            <td>
              ประเภท user
            </td>
            <td>
              {{user.provider}}
            </td>
            <td>
              <a mat-icon-button (click)="edit($event.event)">
                <mat-icon>create</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="typeUser === 'user'">
          <tr *ngFor="let user of users">
            <td>
              {{user.email}}
            </td>
            <td>
              {{user.name}}
            </td>
            <td>
              {{user.lastname}}
            </td>
            <td>
              คณะ
            </td>
            <td>
              ตำแหน่ง
            </td>
            <td>
              ประวัติ
            </td>
            <td>
              รูป
            </td>
            <td>
              เบอร์โทร
            </td>
            <td>
              <a mat-icon-button (click)="edit($event.event)">
                <mat-icon>create</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
