<app-lifedi-navbar></app-lifedi-navbar>
<div class="container" style="margin-top: 76px;">
  <div class="row">
    <div class="col-lg-3 col-md-12 d-none d-lg-block">
      <mat-card class="suggestactivity">
        <div class="row">
          <div class="col-12">
            <h3 class="text-center" style="color: white;">กิจกรรมแนะนำ</h3>
            <div style="max-height: 70vh; overflow-y: auto;">
            <mat-card *ngFor="let e of events" style="margin: 15px 10px; border-radius: 10px;">
              <mat-card-title align="center" class="maincolor">{{e.title}} ({{e.price}}฿)</mat-card-title>
              <mat-card-content>{{e.start}} - {{e.end}}</mat-card-content>
            </mat-card>
          </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-9 col-md-12">
      <div class="row text-center">
        <!-- <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
            Today
          </div> -->
        <div class="col-12" style="margin: 10px 0;">
          <h3 class="maincolor"><b>ตารางกิจกรรม</b></h3>
          <button mat-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            <span class="material-icons">
              arrow_back_ios
            </span>
          </button>
          <span style="font-size: 20px;">
            {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
          </span>
          <button mat-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()">
            <span class="material-icons">
              arrow_forward_ios
            </span>
          </button>
        </div>
      </div>
      <br />
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <!-- <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
          [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view> -->
      </div>
    </div>
  </div>
</div>
<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br /><br /><br />

<h3>Edit events
  <button class="btn btn-primary float-right" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" />
        </td>
        <td>
          <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()" />
        </td>
        <td>
          <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()" />
        </td>
        <td>
          <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
            dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
        </td>
        <td>
          <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end" (ngModelChange)="refresh.next()"
            [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i" placeholder="Not set" />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">กิจกรรม {{modalData?.event.title}}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    ราคา : {{modalData?.event.price}} ฿<br>
    สถานะ : {{getStatus(modalData?.event.end)}} <br>
    สถานที่ : ?? <br>
    วัน-เวลา : {{modalData?.event.start.getTime() | date: 'medium'}} -
    {{modalData?.event.end.getTime() | date: 'medium'}}<br>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
