<app-lifedi-navbar></app-lifedi-navbar>

<section class="strips">
  <article class="strips__strip">
    <a [routerLink]="['/admin/user-management']">
      <div class="d-none d-md-block d-lg-none" style="margin-top: 76px;"></div>
      <div class="strip__content">
        <h1 class="strip__title">จัดการสมาชิก</h1>
      </div>
    </a>
  </article>
  <article class=" strips__strip">
    <a [routerLink]="['/admin/courses-management']">
      <div class="strip__content">
        <h1 class="strip__title">จัดการคอร์ส</h1>
      </div>
    </a>
  </article>
  <article class="strips__strip">
    <a [routerLink]="['/admin/activity-schedule']">
      <div class="strip__content">
        <h1 class="strip__title">จัดการตารางกิจกรรม</h1>
      </div>
    </a>
  </article>
  <article class="strips__strip">
    <a [routerLink]="['/admin/journals-management']">
      <div class="strip__content">
        <h1 class="strip__title">จัดการบทความ, ข่าว</h1>
      </div>
    </a>
  </article>
  <article class="strips__strip">
    <a [routerLink]="['/admin/forums-management']">
      <div class="strip__content">
        <h1 class="strip__title">กระทู้</h1>
      </div>
    </a>
  </article>
  <i class="fa fa-close strip__close"></i>
</section>
