<app-lifedi-navbar></app-lifedi-navbar>

<div class="container" style="margin-top: 76px;">
  <h2 class="text-center" style="padding-top: 50px;">คอร์สเรียน</h2>
  <div class="row">
    <div class="col text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn" id="buttonSort" ngbDropdownToggle>คัดกรอง</button>
        <div id="buttonOptions" ngbDropdownMenu aria-labelledby="buttonSort">
          <button ngbDropdownItem>คอร์สทั้งหมด</button>
          <button ngbDropdownItem routerLink="/mycourse" *ngIf="user">คอร์สของฉัน</button>
          <button ngbDropdownItem>คอร์สใหม่</button>
          <button ngbDropdownItem>คอร์สที่ยังเปิดใช้งานอยู่</button>
        </div>
      </div>
    </div>

    <div *ngIf="allCourses">
      <div id="cardCourse" class="row">
        <div class="col-4 h-100" *ngFor="let course of allCourses">
          <div class="card">
            <h5 class="card-title text-center">{{ course.courseTitle }}</h5>
            <img class="card-img-top" src="{{ course.coursePic }}" style="height: 15vw; border-radius: 20%;" />
            <div class="card-body">
              <p class="card-text text-center">
                {{ course.courseInfo }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
