<app-lifedi-navbar></app-lifedi-navbar>

<div class="container" style="margin-top: 76px;">
  <h2 class="text-center" style="padding-top: 30px;">คอร์สเรียน</h2>
  <div class="row">
    <div class="col text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn" id="buttonSort" ngbDropdownToggle>คัดกรอง</button>
        <div id="buttonOptions" ngbDropdownMenu aria-labelledby="buttonSort">
          <button ngbDropdownItem>คอร์สทั้งหมด</button>
          <button ngbDropdownItem routerLink="/mycourse" *ngIf="user">คอร์สของฉัน</button>
          <button ngbDropdownItem>คอร์สใหม่</button>
          <button ngbDropdownItem>คอร์สที่ยังเปิดใช้งานอยู่</button>
        </div>
      </div>
    </div>

    <div *ngIf="allCourses">
      <div class="row">
        <div id="cardCourse" class="col-lg-3 col-md-4 col-sm-6" *ngFor="let course of allCourses">
          <!-- <a [routerLink]="['/course', course.courseId]"> -->
            <a [routerLink]="['/course/1']">
            <div class="card h-100">
              <img class="card-img-top" src="{{ course.coursePic }}" style="height: 15vw;" />
              <div class="card-body">
                <h6 class="card-title text-center"><b>{{ course.courseTitle }}</b></h6>
                <p class="card-text text-center">
                  {{ course.courseInfo }}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
