pre {
  background-color: #f5f5f5;
  padding: 15px;
}

button:focus {
  outline: none !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  // background: white;
}
// ::-webkit-scrollbar-thumb:window-inactive {
// background: rgba(255,0,0,0.4);
// }

.table {
  margin-bottom: 0;
}

.table-responsive::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
  width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
  height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;

  td {
    vertical-align: baseline;
    // padding: 11px 12px 7px;
  }
}

th,
td {
  background: #fff;
  padding: 8px 16px;
}

.table-responsive {
  overflow: auto;
}

.table-responsive thead th {
  position: sticky;
  top: 0;
  z-index: 10;
}

a.mat-button {
  vertical-align: -webkit-baseline-middle;
}
