<app-lifedi-navbar></app-lifedi-navbar>

<div class="container-fluid" style="margin-top: 76px;">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12 d-none d-lg-block">
      <div class="row text-center">
        <div class="col-12" style="margin: 10px 0;">
          <div class="text-center" style="display: inline-flex; flex-flow: row wrap; align-items: center;">
            <button mat-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">
              <span class="material-icons">
                arrow_back_ios
              </span>
            </button>
            <div style="font-size: 17px; min-width: 170px;">
              {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
            </div>
            <button mat-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">
              <span class="material-icons">
                arrow_forward_ios
              </span>
            </button>
          </div>
        </div>
      </div>
      <br />
      <div [ngSwitch]="view">
        <mwl-calendar-month-view id="adminActivity" *ngIf="isIncoming" [viewDate]="viewDate" [events]="incomingActivity"
          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleDetail($event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>

        <mwl-calendar-month-view id="adminActivity" *ngIf="!isIncoming" [viewDate]="viewDate" [events]="passedActivity"
          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleDetail($event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
      </div>
      <br>
      <div class="row col-12">
        <span
          style="background-color: rgb(75, 181, 67); width: 8px; height: 8px; border-radius: 50px; margin-top: 9px;"></span>
        &nbsp; = ลงทะเบียนแล้ว &nbsp;
        <span
          style="background-color: rgb(42, 157, 244); width: 8px; height: 8px; border-radius: 50px; margin-top: 9px;"></span>
        &nbsp; = คอร์สใหม่ &nbsp;
        <span
          style="background-color: rgb(255, 0, 0); width: 8px; height: 8px; border-radius: 50px; margin-top: 9px;"></span>
        &nbsp; = คอร์สเต็ม &nbsp;
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-12">
      <div class="row" style="padding: 10px 0;">
        <div class="col-6" style="align-self: flex-end;">
          <h3>จัดการตารางกิจกรรม</h3>
        </div>
        <!-- <div class="col-4">
          <a mat-button (click)="incoming()" [ngStyle]="{'color': isIncoming ? 'red' : ''}" style="padding: 6px; margin-right: 5px;">
            กิจกรรมที่กำลังจะมาถึง
          </a>
          <a mat-button (click)="passed()" [ngStyle]="{'color': !isIncoming ? 'red' : ''}" style="padding: 6px; margin-left: 5px;">
            กิจกรรมที่ผ่านมา
          </a>
        </div> -->
        <div class="col-6">
          <button class="btn btn-primary float-right" (click)="addEvent()">
            เพิ่มกิจกรรม
          </button>
          <!-- <button class="btn btn-success float-right">
            บันทึก
          </button> -->
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a mat-button (click)="incoming()" [ngStyle]="{'color': isIncoming ? 'red' : ''}"
            style="padding: 6px; margin-right: 5px;">
            กิจกรรมที่กำลังจะมาถึง
          </a>
          <a mat-button (click)="passed()" [ngStyle]="{'color': !isIncoming ? 'red' : ''}"
            style="padding: 6px; margin-left: 5px;">
            กิจกรรมที่ผ่านมา
          </a>
        </div>
        <div class="col-6">
          <!-- <form class="form-inline float-right"> -->
          <div>
            <input type="text" class="form-control" placeholder="ค้นหากิจกรรม" style="width: 70%; float: right;" />
          </div>
          <!-- </form> -->
        </div>
      </div>

      <div class="clearfix"></div>

      <div *ngIf="isIncoming" class="table-responsive" style="height: 74vh; border: 1px solid #dee2e6;">
        <div style="width: max-content;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ชื่อกิจกรรม</th>
                <th>วันเริ่มกิจกรรม</th>
                <th>วันสิ้นสุดกิจกรรม</th>
                <th>วันเริ่มการลงทะเบียน</th>
                <th>วันสิ้นสุดการลงทะเบียน</th>
                <th>รายละเอียด</th>
                <th>จำนวนผู้ที่ลงทะเบียน</th>
                <th>ราคา</th>
                <th>จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activity of incomingActivity">
                <td>
                  {{activity.title}}
                </td>
                <td>
                  {{activity.start|date:'d MMMM yyyy : HH:mm'}} น.
                </td>
                <td>
                  {{activity.end|date:'d MMMM yyyy : HH:mm'}} น.
                </td>
                <td>
                  {{activity.preStart|date:'d MMMM yyyy : HH:mm'}} น.
                </td>
                <td>
                  {{activity.preEnd|date:'d MMMM yyyy : HH:mm'}} น.
                </td>
                <td>
                  {{activity.detail}}
                </td>
                <td>
                  {{activity.registeredUser}}/{{activity.maximumUser}}
                </td>
                <td>
                  {{activity.price}} ฿
                </td>
                <td>
                  <a mat-icon-button (click)="handleDetail(activity)">
                    <mat-icon>create</mat-icon>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="!isIncoming" class="table-responsive" style="height: 74vh; border: 1px solid #dee2e6;">
        <div style="width: max-content;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ชื่อกิจกรรม</th>
                <th>วันเริ่มกิจกรรม</th>
                <th>วันสิ้นสุดกิจกรรม</th>
                <th>วันเริ่มการลงทะเบียน</th>
                <th>วันสิ้นสุดการลงทะเบียน</th>
                <th>รายละเอียด</th>
                <th>จำนวนผู้ที่ลงทะเบียน</th>
                <th>ราคา</th>
                <th>จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activity of passedActivity">
                <td>
                  {{activity.title}}
                </td>
                <td>
                  {{activity.start|date:'d MMMM yyyy : HH:mm'}} น.
                </td>
                <td>
                  {{activity.end|date:'d MMMM yyyy : HH:mm'}} น.
                </td>
                <td>
                  {{activity.preStart|date:'d MMMM yyyy : HH:mm'}} น.
                </td>
                <td>
                  {{activity.preEnd|date:'d MMMM yyyy : HH:mm'}} น.
                </td>
                <td>
                  {{activity.detail}}
                </td>
                <td>
                  {{activity.registeredUser}}/{{activity.maximumUser}}
                </td>
                <td>
                  {{activity.price}} ฿
                </td>
                <td>
                  <a mat-icon-button (click)="handleDetail(activity)">
                    <mat-icon>create</mat-icon>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalAddEvent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">จัดการคอร์สเรียน</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="activityForm">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="activityTitle">ชื่อกิจกรรม</label>
          <input id="activityTitle" type="text" class="form-control" (keyup)="refresh.next()" placeholder="ชื่อกิจกรรม"
            formControlName="activityTitle" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="activityStart">เลือกวันเริ่มกิจกรรม</label>
          <input id="activityStart" class="form-control" type="text" mwlFlatpickr (ngModelChange)="refresh.next()"
            [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
            altFormat="j F Y, H:i" placeholder="เลือกวันเริ่มกิจกรรม" formControlName="activityStart" />
        </div>
        <div class="form-group col-md-6">
          <label for="activityEnd">วันสิ้นสุดกิจกรรม</label>
          <input id="activityEnd" class="form-control" type="text" mwlFlatpickr (ngModelChange)="refresh.next()"
            [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
            altFormat="j F Y, H:i" placeholder="เลือกวันสิ้นสุดกิจกรรม" formControlName="activityEnd" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="registerStart">วันเรื่มลงทะเบียน</label>
          <input class="registerStart" class="form-control" type="text" mwlFlatpickr [altInput]="true"
            (ngModelChange)="refresh.next()" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
            altFormat="j F Y, H:i" placeholder="เลือกวันลงทะเบียน" formControlName="registerStart" />
        </div>
        <div class="form-group col-md-6">
          <label for="registerEnd">วันสิ้นสุดการลงทะเบียน</label>
          <input id="registerEnd" class="form-control" type="text" mwlFlatpickr [altInput]="true"
            (ngModelChange)="refresh.next()" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
            altFormat="j F Y, H:i" placeholder="เลือกวันลงทะเบียน" formControlName="registerEnd" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="activityDetail">รายละเอียดกิจกรรม</label>
          <textarea id="activityDetail" class="form-control" rows="3.5" cols="50" formControlName="activityDetail"
            placeholder="กรุณากรอกรายละเอียด" formControlName="activityDetail"></textarea>
        </div>
        <div class="form-group col-md-6">
          <label for="activityPrice">ค่าเข้าร่วมกิจกรรม</label>
          <input type="text" class="form-control" id="activityPrice" placeholder="ราคา" formControlName="activityPrice">
        </div>
      </div>
      <!-- <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <input type="text" class="form-control" />
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div> -->
      <!-- <button class="btn btn-primary">ยืนยันการแก้ไข</button> -->
      <button class="btn btn-primary" (click)="confirm(activityForm.value)"
        [disabled]="!activityForm.valid">สร้าง</button>
    </form>
    <!-- <pre>
    {{modalData?.course|json}}
    </pre> -->
  </div>
</ng-template>


<ng-template #modalDetail let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">จัดการคอร์สเรียน</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <pre>
    {{modalData?.event|json}}
    </pre>
  </div>
</ng-template>
