<app-lifedi-navbar></app-lifedi-navbar>

<div class="container-fluid" style="margin-top: 76px;">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12 d-none d-lg-block">
      <div class="row text-center">
        <div class="col-12" style="margin: 10px 0;">
          <div class="text-center" style="display: inline-flex; flex-flow: row wrap; align-items: center;">
            <button mat-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">
              <span class="material-icons">
                arrow_back_ios
              </span>
            </button>
            <div style="font-size: 17px; min-width: 170px;">
              {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
            </div>
            <button mat-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">
              <span class="material-icons">
                arrow_forward_ios
              </span>
            </button>
          </div>
        </div>
      </div>
      <br />
      <div [ngSwitch]="view">
        <mwl-calendar-month-view id="adminActivity" *ngIf="isIncoming" [viewDate]="viewDate" [events]="incomingActivity"
          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>

        <mwl-calendar-month-view id="adminActivity" *ngIf="!isIncoming" [viewDate]="viewDate" [events]="passedActivity"
          [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-12">
      <div class="row" style="padding: 10px 0;">
        <div class="col-6" style="align-self: flex-end;">
          <h3>จัดการตารางกิจกรรม</h3>
        </div>
        <!-- <div class="col-4">
          <a mat-button (click)="incoming()" [ngStyle]="{'color': isIncoming ? 'red' : ''}" style="padding: 6px; margin-right: 5px;">
            กิจกรรมที่กำลังจะมาถึง
          </a>
          <a mat-button (click)="passed()" [ngStyle]="{'color': !isIncoming ? 'red' : ''}" style="padding: 6px; margin-left: 5px;">
            กิจกรรมที่ผ่านมา
          </a>
        </div> -->
        <div class="col-6">
          <button class="btn btn-primary float-right" (click)="addEvent()">
            เพิ่มกิจกรรม
          </button>
          <button class="btn btn-success float-right">
            บันทึก
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a mat-button (click)="incoming()" [ngStyle]="{'color': isIncoming ? 'red' : ''}"
            style="padding: 6px; margin-right: 5px;">
            กิจกรรมที่กำลังจะมาถึง
          </a>
          <a mat-button (click)="passed()" [ngStyle]="{'color': !isIncoming ? 'red' : ''}"
            style="padding: 6px; margin-left: 5px;">
            กิจกรรมที่ผ่านมา
          </a>
        </div>
        <div class="col-6">
          <!-- <form class="form-inline float-right"> -->
          <div>
            <input type="text" class="form-control" placeholder="ค้นหากิจกรรม" style="width: 70%; float: right;" />
          </div>
          <!-- </form> -->
        </div>
      </div>

      <div class="clearfix"></div>

      <div *ngIf="isIncoming" class="table-responsive" style="height: 74vh; border: 1px solid #dee2e6;">
        <div style="width: max-content;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ชื่อกิจกรรม</th>
                <th>รายละเอียด</th>
                <th>ราคา</th>
                <th>วันเริ่มการลงทะเบียน</th>
                <th>วันสิ้นสุดการลงทะเบียน</th>
                <th>วันเริ่มกิจกรรม</th>
                <th>วันสิ้นสุดกิจกรรม</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let event of incomingActivity">
                <td>
                  <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()"
                    placeholder="ชื่อกิจกรรม" />
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="รายละเอียดกิจกรรม">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="ราคา">

                </td>
                <td>
                  <input class="form-control" type="text" mwlFlatpickr [convertModelValue]="true" [enableTime]="true"
                    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="เลือกวันลงทะเบียน" />
                </td>
                <td>
                  <input class="form-control" type="text" mwlFlatpickr [convertModelValue]="true" [enableTime]="true"
                    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="เลือกวันสิ้นสุดการลงทะเบียน" />
                </td>
                <td>
                  <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
                    (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="เลือกวันเริ่มกิจกรรม" />
                </td>
                <td>
                  <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end"
                    (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="เลือกวันสิ้นสุดกิจกรรม" />
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteIncomingEvent(event)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="!isIncoming" class="table-responsive" style="height: 74vh; border: 1px solid #dee2e6;">
        <div style="width: max-content;">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ชื่อกิจกรรม</th>
                <th>รายละเอียด</th>
                <th>ราคา</th>
                <th>วันเริ่มการลงทะเบียน</th>
                <th>วันสิ้นสุดการลงทะเบียน</th>
                <th>วันเริ่มกิจกรรม</th>
                <th>วันสิ้นสุดกิจกรรม</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let event of passedActivity">
                <td>
                  <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()"
                    placeholder="ชื่อกิจกรรม" />
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="รายละเอียดกิจกรรม">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="ราคา">

                </td>
                <td>
                  <input class="form-control" type="text" mwlFlatpickr [convertModelValue]="true" [enableTime]="true"
                    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="เลือกวันลงทะเบียน" />
                </td>
                <td>
                  <input class="form-control" type="text" mwlFlatpickr [convertModelValue]="true" [enableTime]="true"
                    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="เลือกวันสิ้นสุดการลงทะเบียน" />
                </td>
                <td>
                  <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
                    (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="เลือกวันเริ่มกิจกรรม" />
                </td>
                <td>
                  <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end"
                    (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
                    dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="เลือกวันสิ้นสุดกิจกรรม" />
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deletePassedEvent(event)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">กิจกรรม {{modalData?.event.title}}</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    ราคา : {{modalData?.event.price}} ฿<br>
    สถานะ : {{getStatus(modalData?.event.end)}} <br>
    สถานที่ : ?? <br>
    วัน-เวลา : {{modalData?.event.start.getTime() | date: 'medium'}} -
    {{modalData?.event.end.getTime() | date: 'medium'}}<br>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
