<app-lifedi-navbar></app-lifedi-navbar>

<div class="container" style="margin-top: 76px;">
  <h2 class="text-center" style="padding-top: 30px;">คอร์สเรียนของฉัน</h2>
  <div class="row">
    <div class="col text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn" id="buttonSort" ngbDropdownToggle>คอร์สของฉัน</button>
        <div id="buttonOptions" ngbDropdownMenu aria-labelledby="buttonSort">
          <button ngbDropdownItem routerLink="/courses">คอร์สทั้งหมด</button>
          <!-- <button ngbDropdownItem routerLink="/mycourse">คอร์สของฉัน</button> -->
          <button ngbDropdownItem>คอร์สใหม่</button>
          <button ngbDropdownItem>คอร์สที่ยังเปิดใช้งานอยู่</button>
        </div>
      </div>
    </div>

    <div *ngIf="myCourse">
      <div class="row">
        <div id="cardCourse" class="col-lg-3 col-md-4 col-sm-6" *ngFor="let course of myCourse">
          <a [routerLink]="['/course', course.courseId]">
            <div class="card h-100">
              <img class="card-img-top" src="{{ course.coursePic }}" style="height: 15vw;" />
              <div class="card-body">
                <h6 class="card-title text-center"><b>{{ course.courseTitle }}</b></h6>
                <p class="card-text text-center">
                  {{ course.courseInfo }} <br>
                </p>
              </div>
              <div class="card-footer">
                <p *ngIf="course.courseProgress !== 100">
                  <ngb-progressbar type="info" textType="white" [value]="course.courseProgress" [showValue]="true">
                  </ngb-progressbar>
                </p>
                <p *ngIf="course.courseProgress === 100">
                  <ngb-progressbar type="success" [value]="100">Completed!</ngb-progressbar>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
