<app-lifedi-navbar></app-lifedi-navbar>
<div style="margin-left: 20px;">
<div style="margin-top: 100px;">
  <label class="title">ชื่อบทเรียน</label>
  <input type="text" placeholder="ชื่อบทเรียน" />
</div>
<div>
  <label class="title">คำบรรยาย</label>
  <input type="text" placeholder="คำบรรยาย" />
</div>
<div>
  <label class="title">อัพโหลดวิดีโอ</label>
  <button type="button" class="btn btn-info">อัพโหลด</button>
</div>
<div>
  <label class="title">อัพโหลด pdf</label>
  <button type="button" class="btn btn-info">อัพโหลด</button>
</div>
<div>
  <label class="title">อัพโหลด PowerPoint</label>
  <button type="button" class="btn btn-info">อัพโหลด</button>
</div>
</div>
