.form-control {
  border-radius: 50px;
  width: 90%;
  min-width: 200px;
}
#register {
  margin-top: 30px;
  > .row {
    margin-top: 10px;
  }
}
label {
  color: #DD598C;
}
#buttonRegister {
  background: #dd598c;
  color: white;
  outline: none !important;
  border-radius: 50px;
  width: 90%;
  min-width: 200px;
  border: 0;
}
#contentName {
  color: #2C4975;
}
