<div class="container-fulid text-center">
  <h2 id="contentName">
    สร้างบัญชี
  </h2>
  <form id="register">
    <div class="row justify-content-center">
      <div class="col-md-10 col-sm-10 row justify-content-center">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <label for="nameSignin">ชื่อผู้ใช้</label>
        </div>
        <div class="col-md-3 col-sm-7">
          <input type="text" class="form-control" id="nameSignin">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-sm-10 row justify-content-center">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <label for="emailSignin">อีเมล</label>
        </div>
        <div class="col-md-3 col-sm-7">
          <input type="email" class="form-control" id="emailSignin">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-sm-10 row justify-content-center">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <label for="birthDateSignin">วันเดือนปีเกิด</label>
        </div>
        <div class="col-md-3 col-sm-7">
          <input type="date" class="form-control" id="birthDateSignin">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-sm-10 row justify-content-center">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <label for="passwordSignin">รหัสผ่าน</label>
        </div>
        <div class="col-md-3 col-sm-7">
          <input type="password" class="form-control" id="passwordSignin">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-sm-10 row justify-content-center">
        <div class="col-lg-2 col-md-2 col-sm-2">
          <label for="confirmPasswordSignin">ยืนยันรหัสผ่าน</label>
        </div>
        <div class="col-md-3 col-sm-7">
          <input type="password" class="form-control" id="confirmPasswordSignin">
        </div>
      </div>
    </div>
    <div class="row justify-content-center" style="margin: 35px 0;">
      <div class="col-md-5 col-sm-8 row">
        <div class="col-12">
          <button mat-flat-button type="submit" color="primary" id="buttonRegister">สร้างบัญชี</button>
        </div>
      </div>
    </div>
  </form>
</div>
