.navbar {
  box-shadow: none !important;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.navbar-brand img {
  height: 50px;
  max-height: 50px;
  // margin: 5px;
  :focus {
    outline: none !important;
  }
}
#navNotification.dropdown-toggle::after {
  display: none;
}
a.nav-link {
  font-weight: 400;
}
.active {
  > a.nav-link {
    color: #5c5c5c !important;
    background-color: unset !important;
  }
}

@media screen and (min-width: 992px) {
  .iconDesktop {
    display: block !important;
  }
  .iconMobile {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .iconDesktop {
    display: none !important;
  }
  .iconMobile {
    display: block !important;
  }
  // .navbar {
  //   padding: 0;
  // }
}
.navbar-nav,
.ml-auto {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

li.nav-item {
  padding: 0 10px;
}

#lifedi-navbar {
  form {
    padding-left: 40px;
  }
}

#custom-search-input .search-query {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

#custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  // margin-top: 4px;
  position: relative;
  left: -38px;
  top: 8px;
  margin-bottom: 0;
  border-radius: 25px;

  outline: none !important;
  box-shadow: none !important;
}

.search-query:focus + button {
  z-index: 200;
}

a.notification-box {
  padding: 15px 30px;
  min-width: 400px;
  border-bottom: 1px solid #cacaca;

  :last-child {
    border-bottom: 0px;
  }
}

.dropdown-menu {
  padding: 0;
  margin: 0;
}
.dropdown .dropdown-menu .dropdown-item:active {
  background: lightgrey;
}
