<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="assets\logo.png" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#lifedi-navbar"
      aria-controls="lifedi-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="lifedi-navbar">
      <form class="form-inline my-2 my-lg-0">
        <div id="custom-search-input">
          <input type="text" class="search-query form-control" placeholder="ค้นหาคอร์สเรียน" />
          <span class="input-group-btn">
            <button type="button">
              <span class="material-icons">search</span>
            </button>
          </span>
        </div>

        <!-- <input class="form-control mr-sm-2" type="search" placeholder="ค้นหาคอร์สเรียน" aria-label="Search" />
        <button class="btn my-2 my-sm-0 searchbutton" type="submit">
          ค้นหา
        </button> -->
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item iconMobile" *ngIf="user">
          <a class="nav-link disabled">สวัสดีคุณ {{ user.firstName }}</a>
          <a class="nav-link" href="/profile">ข้อมูลส่วนตัว</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': '/courses' === path}">
          <a class="nav-link" [ngStyle]="{'font-weight': '/courses' === path ? 'bold' : ''}"
            href="/courses">คอร์สเรียน</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': '/journals' === path}">
          <a class="nav-link" [ngStyle]="{'font-weight': '/journals' === path ? 'bold' : ''}"
            href="/journals">บทความ</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': '/activity' === path}">
          <a class="nav-link" [ngStyle]="{'font-weight': '/activity' === path ? 'bold' : ''}"
            href="/activity">ตารางกิจกรรม</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': '/webboards' === path}">
          <a class="nav-link" [ngStyle]="{'font-weight': '/webboards' === path ? 'bold' : ''}"
            href="/webboards">กระทู้</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <img src="assets/icon/shopping-cart.png" height="25px" />
          </a>
        </li>
        <li class="nav-item" ngbDropdown display="dynamic" *ngIf="user">
          <a class="nav-link" (click)="getNotification()" tabindex="0" ngbDropdownToggle id="navNotification"
            role="button" style="outline: none;">
            <img src="assets/icon/notification.png" height="25px" />
          </a>
          <div ngbDropdownMenu aria-labelledby="navNotification" class="dropdown-menu">
            <span *ngIf="notifications">
              <a ngbDropdownItem class="notification-box" *ngFor="let noti of notifications; let i = index"
                [href]="noti.link" [ngStyle]="{'background': noti.read ? '' : 'whitesmoke'}" (click)="read(i)">
                <span style="float: right;"> {{ noti.date }}</span><br>
                <span class="notification-title-box">{{ noti.title }}</span>
              </a>
            </span>
            <span *ngIf="!notifications">
              <div class="spinner-border text-info text-center" role="status">
                <span class="sr-only notification-title-box">Loading...</span>
              </div>
            </span>
          </div>
        </li>
        <li class="nav-item iconMobile" *ngIf="user">
          <a class="nav-link" href="#" (click)="$event.preventDefault()">ตั้งค่า</a>
          <a class="nav-link" (click)="signout()">ลงชื่อออก</a>
        </li>
        <li class="nav-item iconMobile" *ngIf="!user">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>

    <!-- desktop -->
    <div ngbDropdown class="d-inline-block iconDesktop">
      <ul class="navbar-nav ml-auto" *ngIf="user">
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button" style="outline: none;">
            <img src="assets/icon/person1.png" height="25px" />
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu" *ngIf="user">
            <a ngbDropdownItem disabled>สวัสดีคุณ {{ user.firstName }}</a>
            <a ngbDropdownItem href="/profile">ข้อมูลส่วนตัว</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">ตั้งค่า</a>
            <a ngbDropdownItem (click)="signout()">ลงชื่อออก</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto iconDesktop" *ngIf="!user">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
