.navbar {
  box-shadow: none !important;
}
.navbar-brand img {
  height: 50px;
  max-height: 50px;
  // margin: 5px;
  :focus {
    outline: none !important;
  }
}
// .navbar {
//   padding: 0px;
// }

@media screen and (min-width: 992px) {
  .iconDesktop {
    display: block !important;
  }
  .iconMobile {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .iconDesktop {
    display: none !important;
  }
  .iconMobile {
    display: block !important;
  }
  // .navbar {
  //   padding: 0;
  // }
}
.navbar-nav,
.ml-auto {
flex: 1;
display: flex;
justify-content: flex-end;
}

li.nav-item{
  padding: 0 20px;
}

#lifedi-navbar {
  form {
    padding-left: 40px;
  }
}
