<app-lifedi-navbar></app-lifedi-navbar>

<div class="container" style="margin-top: 100px;" *ngIf="allNews">
  <h2>{{ allNews[0].title }}</h2>
  <span>จำนวนการอ่าน {{ allNews[0].count }} ครั้ง
    <span style="float: right;">วันที่ {{ allNews[0].date }}</span>
  </span>
  <div class="row">
    <div class="col-12" style="margin: 40px 0;">
      <img src="{{ allNews[0].pic }}" style="width: 100%; height: 300px;" />
    </div>
  </div>
  <div class="row">
    <div class="row" style="padding: 40px;">
      <div class="d-none d-xl-block col-9">
        <p>
          เมจิก ยิมพาร์ดีพาร์ตเมนท์โฮมเที่ยงคืน แครอทแก๊สโซฮอล์
          ราสเบอร์รีเชฟเป็นไง ลิมูซีนฟรังก์จ๊อกกี้
          สตรอว์เบอร์รีไฮเทคหลินจืออาร์ติสต์ไนน์ ก๋ากั่นฮิปฮอป บ๊วย
          คาเฟ่จ๊าบบรรพชนกษัตริยาธิราช ตี๋อัลบั้ม
          พาสเจอร์ไรส์ฮาลาลซาร์ดีนภูมิทัศน์แฟร์ เนิร์สเซอรี่ แซนด์วิชสกายอัลบัม
          พาร์จิตเภทแจ๊สแคมเปญเตี๊ยม สปาบอกซ์ แบรนด์ซาบะโปรดักชั่นแอคทีฟ
          ทีวีเซอร์ชาร์จไชน่าเดี้ยง ไอเดีย ริคเตอร์เคลื่อนย้าย
          ภูมิทัศน์มายองเนสโซนี่มหาอุปราชา กรุ๊ปโอวัลตินซีน
          ออโต้กาญจนาภิเษกบลอนด์เวเฟอร์สเก็ตช์ เทอร์โบเกมส์ซานตาคลอส จิตเภทไนท์
          เครปวิภัชภาคจีดีพี เป่ายิ้งฉุบพันธกิจพูลซาบะ บรรพชน
          ภูมิทัศน์รีสอร์ทแบคโฮซีดาน สปอตบลูเบอร์รี่เยอบีรา
          เวณิกาท็อปบู๊ทบอร์ดหน่อมแน้ม ไรเฟิลชาร์ปอัลมอนด์โชห่วยโหลยโท่ย
          แชมพูสต๊อก มอนสเตอร์แอ็กชั่น แฟรนไชส์ซิงโปรโมท
          เกย์คอมเพล็กซ์อัลไซเมอร์วิดีโอ ฟาสต์ฟู้ด สต๊อควิภัชภาคนายพรานตรวจสอบ
          สงบสุขสมาพันธ์ป่าไม้แซวภควัมปติ เดบิตคาเฟ่พีเรียด
          อุปัทวเหตุมุมมองสหรัฐสมาพันธ์ เซ็นทรัลเพียว แคชเชียร์
          ป๊อกราชบัณฑิตยสถานเอ็นจีโอเครป เทอร์โบบอร์ดป๊อป ชาร์ปไวกิ้ง
          แทกติคไงท็อปบูตวีนสเตเดียม ชัตเตอร์ กัมมันตะเวิร์กเบิร์นเลดี้ไคลแมกซ์
          ลามะสไปเดอร์ซานตาคลอสเชฟสเตริโอ มิลค์แอนด์คอนแท็ค
          ฮอตดอกเซอร์ไพรส์บาบูนแบตเซ็นทรัล เคลียร์เฮียวาฟเฟิลแซลมอนเทควันโด
          แบล็ค เยอร์บีร่ากัมมันตะ ธัมโมรองรับมอคค่าเนอะ สโตร์เห่ยแพกเกจ
          ซิมโฟนีเปราะบาง จูนแตงกวาเป่ายิงฉุบแบล็ก บู๊พาร์ตเนอร์ซีเนียร์
          ราชบัณฑิตยสถานโฮมโยเกิร์ตแก๊สโซฮอล์คาร์ อ่วมวานิลลาไฮไลท์
          ธัมโมแพทเทิร์นบ๋อยจูนหมวย สมาพันธ์ราชบัณฑิตยสถานภควัมปติภูมิทัศน์
          ฟลุกเนอะแจ๊กเก็ตบัตเตอร์ดีไซน์ แจม ชาร์ปสเกตช์อุปัทวเหตุ
          สปอตซิมโฟนีรีเสิร์ชสปายซูเปอร์ รีสอร์ต โฟมออร์แกนิคชาร์จเพรสดีกรี
          แฮปปี้ก๊วนไวอะกร้าเปเปอร์แครกเกอร์ เทอร์โบเพลซสปอร์ตอุปัทวเหตุ เบิร์ด
          สงบสุขพุดดิ้งสามแยก โฮสเตส ฮอตดอกจูนติวซามูไรบ๊อบ บิลฮิปฮอป
          ฮ่องเต้ไฟลต์อุปทานเก๊ะ เตี๊ยมหน่อมแน้มซานตาคลอสจอหงวนฮ็อตด็อก
          แชมพูคอนแทคหลวงตา ม้านั่งแบล็กทาวน์คอร์ปอเรชั่นบลอน เมจิก
          ยิมพาร์ดีพาร์ตเมนท์โฮมเที่ยงคืน แครอทแก๊สโซฮอล์ ราสเบอร์รีเชฟเป็นไง
          ลิมูซีนฟรังก์จ๊อกกี้ สตรอว์เบอร์รีไฮเทคหลินจืออาร์ติสต์ไนน์
          ก๋ากั่นฮิปฮอป บ๊วย คาเฟ่จ๊าบบรรพชนกษัตริยาธิราช ตี๋อัลบั้ม
          พาสเจอร์ไรส์ฮาลาลซาร์ดีนภูมิทัศน์แฟร์ เนิร์สเซอรี่ แซนด์วิชสกายอัลบัม
          พาร์จิตเภทแจ๊สแคมเปญเตี๊ยม สปาบอกซ์ แบรนด์ซาบะโปรดักชั่นแอคทีฟ
          ทีวีเซอร์ชาร์จไชน่าเดี้ยง ไอเดีย ริคเตอร์เคลื่อนย้าย
          ภูมิทัศน์มายองเนสโซนี่มหาอุปราชา กรุ๊ปโอวัลตินซีน
          ออโต้กาญจนาภิเษกบลอนด์เวเฟอร์สเก็ตช์ เทอร์โบเกมส์ซานตาคลอส จิตเภทไนท์
          เครปวิภัชภาคจีดีพี เป่ายิ้งฉุบพันธกิจพูลซาบะ บรรพชน
          ภูมิทัศน์รีสอร์ทแบคโฮซีดาน สปอตบลูเบอร์รี่เยอบีรา
          เวณิกาท็อปบู๊ทบอร์ดหน่อมแน้ม ไรเฟิลชาร์ปอัลมอนด์โชห่วยโหลยโท่ย
          แชมพูสต๊อก มอนสเตอร์แอ็กชั่น แฟรนไชส์ซิงโปรโมท
          เกย์คอมเพล็กซ์อัลไซเมอร์วิดีโอ ฟาสต์ฟู้ด สต๊อควิภัชภาคนายพรานตรวจสอบ
          สงบสุขสมาพันธ์ป่าไม้แซวภควัมปติ เดบิตคาเฟ่พีเรียด
          อุปัทวเหตุมุมมองสหรัฐสมาพันธ์ เซ็นทรัลเพียว แคชเชียร์
          ป๊อกราชบัณฑิตยสถานเอ็นจีโอเครป เทอร์โบบอร์ดป๊อป ชาร์ปไวกิ้ง
          แทกติคไงท็อปบูตวีนสเตเดียม ชัตเตอร์ กัมมันตะเวิร์กเบิร์นเลดี้ไคลแมกซ์
          ลามะสไปเดอร์ซานตาคลอสเชฟสเตริโอ มิลค์แอนด์คอนแท็ค
          ฮอตดอกเซอร์ไพรส์บาบูนแบตเซ็นทรัล เคลียร์เฮียวาฟเฟิลแซลมอนเทควันโด
          แบล็ค เยอร์บีร่ากัมมันตะ ธัมโมรองรับมอคค่าเนอะ สโตร์เห่ยแพกเกจ
          ซิมโฟนีเปราะบาง จูนแตงกวาเป่ายิงฉุบแบล็ก บู๊พาร์ตเนอร์ซีเนียร์
          ราชบัณฑิตยสถานโฮมโยเกิร์ตแก๊สโซฮอล์คาร์ อ่วมวานิลลาไฮไลท์
          ธัมโมแพทเทิร์นบ๋อยจูนหมวย สมาพันธ์ราชบัณฑิตยสถานภควัมปติภูมิทัศน์
          ฟลุกเนอะแจ๊กเก็ตบัตเตอร์ดีไซน์ แจม ชาร์ปสเกตช์อุปัทวเหตุ
          สปอตซิมโฟนีรีเสิร์ชสปายซูเปอร์ รีสอร์ต โฟมออร์แกนิคชาร์จเพรสดีกรี
          แฮปปี้ก๊วนไวอะกร้าเปเปอร์แครกเกอร์ เทอร์โบเพลซสปอร์ตอุปัทวเหตุ เบิร์ด
          สงบสุขพุดดิ้งสามแยก โฮสเตส ฮอตดอกจูนติวซามูไรบ๊อบ บิลฮิปฮอป
          ฮ่องเต้ไฟลต์อุปทานเก๊ะ เตี๊ยมหน่อมแน้มซานตาคลอสจอหงวนฮ็อตด็อก
          แชมพูคอนแทคหลวงตา ม้านั่งแบล็กทาวน์คอร์ปอเรชั่นบลอน
        </p>
      </div>
      <div class="d-xl-none col-12">
        <p>
          เมจิก ยิมพาร์ดีพาร์ตเมนท์โฮมเที่ยงคืน แครอทแก๊สโซฮอล์
          ราสเบอร์รีเชฟเป็นไง ลิมูซีนฟรังก์จ๊อกกี้
          สตรอว์เบอร์รีไฮเทคหลินจืออาร์ติสต์ไนน์ ก๋ากั่นฮิปฮอป บ๊วย
          คาเฟ่จ๊าบบรรพชนกษัตริยาธิราช ตี๋อัลบั้ม
          พาสเจอร์ไรส์ฮาลาลซาร์ดีนภูมิทัศน์แฟร์ เนิร์สเซอรี่ แซนด์วิชสกายอัลบัม
          พาร์จิตเภทแจ๊สแคมเปญเตี๊ยม สปาบอกซ์ แบรนด์ซาบะโปรดักชั่นแอคทีฟ
          ทีวีเซอร์ชาร์จไชน่าเดี้ยง ไอเดีย ริคเตอร์เคลื่อนย้าย
          ภูมิทัศน์มายองเนสโซนี่มหาอุปราชา กรุ๊ปโอวัลตินซีน
          ออโต้กาญจนาภิเษกบลอนด์เวเฟอร์สเก็ตช์ เทอร์โบเกมส์ซานตาคลอส จิตเภทไนท์
          เครปวิภัชภาคจีดีพี เป่ายิ้งฉุบพันธกิจพูลซาบะ บรรพชน
          ภูมิทัศน์รีสอร์ทแบคโฮซีดาน สปอตบลูเบอร์รี่เยอบีรา
          เวณิกาท็อปบู๊ทบอร์ดหน่อมแน้ม ไรเฟิลชาร์ปอัลมอนด์โชห่วยโหลยโท่ย
          แชมพูสต๊อก มอนสเตอร์แอ็กชั่น แฟรนไชส์ซิงโปรโมท
          เกย์คอมเพล็กซ์อัลไซเมอร์วิดีโอ ฟาสต์ฟู้ด สต๊อควิภัชภาคนายพรานตรวจสอบ
          สงบสุขสมาพันธ์ป่าไม้แซวภควัมปติ เดบิตคาเฟ่พีเรียด
          อุปัทวเหตุมุมมองสหรัฐสมาพันธ์ เซ็นทรัลเพียว แคชเชียร์
          ป๊อกราชบัณฑิตยสถานเอ็นจีโอเครป เทอร์โบบอร์ดป๊อป ชาร์ปไวกิ้ง
          แทกติคไงท็อปบูตวีนสเตเดียม ชัตเตอร์ กัมมันตะเวิร์กเบิร์นเลดี้ไคลแมกซ์
          ลามะสไปเดอร์ซานตาคลอสเชฟสเตริโอ มิลค์แอนด์คอนแท็ค
          ฮอตดอกเซอร์ไพรส์บาบูนแบตเซ็นทรัล เคลียร์เฮียวาฟเฟิลแซลมอนเทควันโด
          แบล็ค เยอร์บีร่ากัมมันตะ ธัมโมรองรับมอคค่าเนอะ สโตร์เห่ยแพกเกจ
          ซิมโฟนีเปราะบาง จูนแตงกวาเป่ายิงฉุบแบล็ก บู๊พาร์ตเนอร์ซีเนียร์
          ราชบัณฑิตยสถานโฮมโยเกิร์ตแก๊สโซฮอล์คาร์ อ่วมวานิลลาไฮไลท์
          ธัมโมแพทเทิร์นบ๋อยจูนหมวย สมาพันธ์ราชบัณฑิตยสถานภควัมปติภูมิทัศน์
          ฟลุกเนอะแจ๊กเก็ตบัตเตอร์ดีไซน์ แจม ชาร์ปสเกตช์อุปัทวเหตุ
          สปอตซิมโฟนีรีเสิร์ชสปายซูเปอร์ รีสอร์ต โฟมออร์แกนิคชาร์จเพรสดีกรี
          แฮปปี้ก๊วนไวอะกร้าเปเปอร์แครกเกอร์ เทอร์โบเพลซสปอร์ตอุปัทวเหตุ เบิร์ด
          สงบสุขพุดดิ้งสามแยก โฮสเตส ฮอตดอกจูนติวซามูไรบ๊อบ บิลฮิปฮอป
          ฮ่องเต้ไฟลต์อุปทานเก๊ะ เตี๊ยมหน่อมแน้มซานตาคลอสจอหงวนฮ็อตด็อก
          แชมพูคอนแทคหลวงตา ม้านั่งแบล็กทาวน์คอร์ปอเรชั่นบลอน เมจิก
          ยิมพาร์ดีพาร์ตเมนท์โฮมเที่ยงคืน แครอทแก๊สโซฮอล์ ราสเบอร์รีเชฟเป็นไง
          ลิมูซีนฟรังก์จ๊อกกี้ สตรอว์เบอร์รีไฮเทคหลินจืออาร์ติสต์ไนน์
          ก๋ากั่นฮิปฮอป บ๊วย คาเฟ่จ๊าบบรรพชนกษัตริยาธิราช ตี๋อัลบั้ม
          พาสเจอร์ไรส์ฮาลาลซาร์ดีนภูมิทัศน์แฟร์ เนิร์สเซอรี่ แซนด์วิชสกายอัลบัม
          พาร์จิตเภทแจ๊สแคมเปญเตี๊ยม สปาบอกซ์ แบรนด์ซาบะโปรดักชั่นแอคทีฟ
          ทีวีเซอร์ชาร์จไชน่าเดี้ยง ไอเดีย ริคเตอร์เคลื่อนย้าย
          ภูมิทัศน์มายองเนสโซนี่มหาอุปราชา กรุ๊ปโอวัลตินซีน
          ออโต้กาญจนาภิเษกบลอนด์เวเฟอร์สเก็ตช์ เทอร์โบเกมส์ซานตาคลอส จิตเภทไนท์
          เครปวิภัชภาคจีดีพี เป่ายิ้งฉุบพันธกิจพูลซาบะ บรรพชน
          ภูมิทัศน์รีสอร์ทแบคโฮซีดาน สปอตบลูเบอร์รี่เยอบีรา
          เวณิกาท็อปบู๊ทบอร์ดหน่อมแน้ม ไรเฟิลชาร์ปอัลมอนด์โชห่วยโหลยโท่ย
          แชมพูสต๊อก มอนสเตอร์แอ็กชั่น แฟรนไชส์ซิงโปรโมท
          เกย์คอมเพล็กซ์อัลไซเมอร์วิดีโอ ฟาสต์ฟู้ด สต๊อควิภัชภาคนายพรานตรวจสอบ
          สงบสุขสมาพันธ์ป่าไม้แซวภควัมปติ เดบิตคาเฟ่พีเรียด
          อุปัทวเหตุมุมมองสหรัฐสมาพันธ์ เซ็นทรัลเพียว แคชเชียร์
          ป๊อกราชบัณฑิตยสถานเอ็นจีโอเครป เทอร์โบบอร์ดป๊อป ชาร์ปไวกิ้ง
          แทกติคไงท็อปบูตวีนสเตเดียม ชัตเตอร์ กัมมันตะเวิร์กเบิร์นเลดี้ไคลแมกซ์
          ลามะสไปเดอร์ซานตาคลอสเชฟสเตริโอ มิลค์แอนด์คอนแท็ค
          ฮอตดอกเซอร์ไพรส์บาบูนแบตเซ็นทรัล เคลียร์เฮียวาฟเฟิลแซลมอนเทควันโด
          แบล็ค เยอร์บีร่ากัมมันตะ ธัมโมรองรับมอคค่าเนอะ สโตร์เห่ยแพกเกจ
          ซิมโฟนีเปราะบาง จูนแตงกวาเป่ายิงฉุบแบล็ก บู๊พาร์ตเนอร์ซีเนียร์
          ราชบัณฑิตยสถานโฮมโยเกิร์ตแก๊สโซฮอล์คาร์ อ่วมวานิลลาไฮไลท์
          ธัมโมแพทเทิร์นบ๋อยจูนหมวย สมาพันธ์ราชบัณฑิตยสถานภควัมปติภูมิทัศน์
          ฟลุกเนอะแจ๊กเก็ตบัตเตอร์ดีไซน์ แจม ชาร์ปสเกตช์อุปัทวเหตุ
          สปอตซิมโฟนีรีเสิร์ชสปายซูเปอร์ รีสอร์ต โฟมออร์แกนิคชาร์จเพรสดีกรี
          แฮปปี้ก๊วนไวอะกร้าเปเปอร์แครกเกอร์ เทอร์โบเพลซสปอร์ตอุปัทวเหตุ เบิร์ด
          สงบสุขพุดดิ้งสามแยก โฮสเตส ฮอตดอกจูนติวซามูไรบ๊อบ บิลฮิปฮอป
          ฮ่องเต้ไฟลต์อุปทานเก๊ะ เตี๊ยมหน่อมแน้มซานตาคลอสจอหงวนฮ็อตด็อก
          แชมพูคอนแทคหลวงตา ม้านั่งแบล็กทาวน์คอร์ปอเรชั่นบลอน
        </p>
      </div>
      <div class="d-none d-xl-block col-3" align="center">
        <h3>ข่าวอื่นๆ</h3>
        <img src="{{ allNews[1].pic }}" style="height: 200px; margin: 20px 0;" />
        <img src="{{ allNews[4].pic }}" style="height: 200px; margin: 20px 0;" />
      </div>
    </div>
  </div>
  <!--suggest md only-->

  <div class="d-none d-sm-block text-center">
    <div class="d-xl-none">
      <h3>ข่าวอื่นๆ</h3>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10" style="margin: 10px;">
          <img src="{{ allNews[1].pic }}" style="height: 150px; margin: 20px;" />
          <img src="{{ allNews[4].pic }}" style="height: 150px;" />
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>

  <!--suggest lower sm-->

  <div class="d-block d-sm-none text-center">
    <h3>ข่าวอื่นๆ</h3>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <img src="{{ allNews[1].pic }}" style="height: 150px; margin: 20px;" />
        <img src="{{ allNews[4].pic }}" style="height: 150px;" />
      </div>
      <div class="col-1"></div>
    </div>
  </div>

</div>
