<app-lifedi-navbar></app-lifedi-navbar>

<div class="container" style="margin-top: 100px;" *ngIf="allNews">
  <h2>{{ allNews[0].title }}</h2>
  <span>จำนวนการอ่าน {{ allNews[0].count }} ครั้ง
    <span style="float: right;">วันที่ {{ allNews[0].date }}</span>
  </span>
  <div class="row">
    <div class="col-12" style="margin: 40px 0;">
      <img src="{{ allNews[0].pic }}" style="width: 100%; height: 350px;" />
    </div>
  </div>
  <div class="row">
    <div class="row" style="padding: 40px;">
      <div class="d-none d-xl-block col-9">
        <p>
          ปัจจุบันผู้คนนิยมเลือกพักอาศัยอาคารชุด หรือคอนโดมิเนียมมากขึ้น อย่างไรก็ตามวิถีชีวิตที่สะดวกสบาย บริโภคอาหารจานด่วน และขาดการออกกำลังกาย ก็อาจทำให้เกิดปัญหาสุขภาพตามมาได้

          นพ.ธเรศ กรัษนัยรวิวงค์ อธิบดีกรมสนับสนุนบริการสุขภาพ (กรม สบส.) กล่าวว่า ด้วยสภาวะเศรษฐกิจ และสังคมไทยในปัจจุบัน เป็นผลทำให้ประชาชนโดยเฉพาะกลุ่มวัยทำงานต้องย้ายถิ่นฐานเข้ามาทำงานในเขตเมืองเพิ่มมากขึ้น และมีแนวโน้มนิยมเลือกอาคารชุด หรือคอนโดมิเนียม เป็นที่พักอาศัยมากขึ้น เพื่อความสะดวกสบายในการใช้ชีวิตและการทำงาน

          จากผลการศึกษาของกรมควบคุมโรค กระทรวงสาธารณสุข พบว่า ผู้ที่อาศัยในคอนโดมิเนียมส่วนใหญ่ ไม่ค่อยให้ความสำคัญต่อการดูแลสุขภาพ มีพฤติกรรมเสี่ยงต่อการเกิดปัญหาสุขภาพ ได้แก่ การบริโภคอาหารจานด่วน ขาดการออกกำลังกาย ซึ่งพฤติกรรมเหล่านี้เป็นสาเหตุสำคัญของปัญหาสุขภาพ จึงได้จัดทำโครงการพัฒนาคุณภาพบริการ เพื่อการสร้างเสริมสุขภาพให้แก่ผู้อยู่อาศัยในคอนโดมิเนียม ที่มีลักษณะเป็นชุมชน เพื่อให้เกิดความตระหนัก มีความรู้ มีทักษะ สามารถดูแลสุขภาพตนเอง และครอบครัวซึ่งอาศัยอยู่ในคอนโดมิเนียม ให้มีสุขภาพที่ดีทั้งกายและใจ

          นายชาญยุทธ พรหมประพัฒน์ ผู้อำนวยการกองสุขศึกษา กล่าวว่า กองสุขศึกษาได้จัดทำแนวทางการดำเนินงานคอนโดฯ สร้างสุขภาพ เพื่อให้นิติบุคคลของอาคารชุดหรือคอนโดมิเนียมใช้เป็นแนวทางในการจัดกิจกรรมสร้างเสริมสุขภาพให้แก่ประชาชนผู้อยู่อาศัย ส่งผลให้ประชาชนเกิดการเรียนรู้ด้านสุขภาพ และอยู่ในสิ่งแวดล้อมที่เหมาะสม

          ส่งผลให้มีการปรับเปลี่ยนพฤติกรรมสุขภาพไปในทิศทางที่ถูกต้อง สามารถดูแลสุขภาพตนเอง ครอบครัว และนำไปสู่การมีสุขภาวะในที่สุด โดยการจัดแนวทางดังกล่าวได้รับความร่วมมือจากนักวิชาการและผู้เกี่ยวข้องกับการขับเคลื่อนโครงการ จากสถาบันป้องกันควบคุมโรคเขตเมือง กรมควบคุมโรค สถาบันพัฒนาสุขภาวะเขตเมือง กรมอนามัย ภาคธุรกิจเอกชนจากคอนโดมิเนียม ซึ่งมีหลักเกณฑ์หรือแนวทางที่คอนโดมิเนียมควรปฏิบัติ เช่น การเฝ้าระวังสภาวะสุขภาพและรู้เท่าทันสุขภาพตนเองด้วย AI อุทยานการเรียนรู้สุขภาพ กิจกรรมส่งเสริมสุขภาพ จัดสิ่งแวดล้อมเพื่อสุขภาพ และการประเมินผลเป็นการพัฒนาคุณภาพบริการสุขภาพ

          โดยมีการขับเคลื่อนด้วยคณะกรรมการจัดการสุขภาพที่เป็นนิติบุคคล และแกนนำสุขภาพในคอนโดมิเนียม (กสค.) เป็นเจ้าภาพในการขับเคลื่อน โดยคาดว่ากรมสนับสนุนบริการสุขภาพ จะเปิดรับสมัครคอนโดมิเนียมที่สนใจเข้าร่วมโครงการ ในปีงบประมาณ 2564 เพื่อมอบรางวัลให้กับคอนโดมิเนียม ที่มีการบริการจัดการด้านสุขภาพที่เป็นต้นแบบคอนโดฯ สร้างสุขภาพต่อไป

          ปัจจุบันผู้คนนิยมเลือกพักอาศัยอาคารชุด หรือคอนโดมิเนียมมากขึ้น อย่างไรก็ตามวิถีชีวิตที่สะดวกสบาย บริโภคอาหารจานด่วน และขาดการออกกำลังกาย ก็อาจทำให้เกิดปัญหาสุขภาพตามมาได้

นพ.ธเรศ กรัษนัยรวิวงค์ อธิบดีกรมสนับสนุนบริการสุขภาพ (กรม สบส.) กล่าวว่า ด้วยสภาวะเศรษฐกิจ และสังคมไทยในปัจจุบัน เป็นผลทำให้ประชาชนโดยเฉพาะกลุ่มวัยทำงานต้องย้ายถิ่นฐานเข้ามาทำงานในเขตเมืองเพิ่มมากขึ้น และมีแนวโน้มนิยมเลือกอาคารชุด หรือคอนโดมิเนียม เป็นที่พักอาศัยมากขึ้น เพื่อความสะดวกสบายในการใช้ชีวิตและการทำงาน

จากผลการศึกษาของกรมควบคุมโรค กระทรวงสาธารณสุข พบว่า ผู้ที่อาศัยในคอนโดมิเนียมส่วนใหญ่ ไม่ค่อยให้ความสำคัญต่อการดูแลสุขภาพ มีพฤติกรรมเสี่ยงต่อการเกิดปัญหาสุขภาพ ได้แก่ การบริโภคอาหารจานด่วน ขาดการออกกำลังกาย ซึ่งพฤติกรรมเหล่านี้เป็นสาเหตุสำคัญของปัญหาสุขภาพ จึงได้จัดทำโครงการพัฒนาคุณภาพบริการ เพื่อการสร้างเสริมสุขภาพให้แก่ผู้อยู่อาศัยในคอนโดมิเนียม ที่มีลักษณะเป็นชุมชน เพื่อให้เกิดความตระหนัก มีความรู้ มีทักษะ สามารถดูแลสุขภาพตนเอง และครอบครัวซึ่งอาศัยอยู่ในคอนโดมิเนียม ให้มีสุขภาพที่ดีทั้งกายและใจ

นายชาญยุทธ พรหมประพัฒน์ ผู้อำนวยการกองสุขศึกษา กล่าวว่า กองสุขศึกษาได้จัดทำแนวทางการดำเนินงานคอนโดฯ สร้างสุขภาพ เพื่อให้นิติบุคคลของอาคารชุดหรือคอนโดมิเนียมใช้เป็นแนวทางในการจัดกิจกรรมสร้างเสริมสุขภาพให้แก่ประชาชนผู้อยู่อาศัย ส่งผลให้ประชาชนเกิดการเรียนรู้ด้านสุขภาพ และอยู่ในสิ่งแวดล้อมที่เหมาะสม

ส่งผลให้มีการปรับเปลี่ยนพฤติกรรมสุขภาพไปในทิศทางที่ถูกต้อง สามารถดูแลสุขภาพตนเอง ครอบครัว และนำไปสู่การมีสุขภาวะในที่สุด โดยการจัดแนวทางดังกล่าวได้รับความร่วมมือจากนักวิชาการและผู้เกี่ยวข้องกับการขับเคลื่อนโครงการ จากสถาบันป้องกันควบคุมโรคเขตเมือง กรมควบคุมโรค สถาบันพัฒนาสุขภาวะเขตเมือง กรมอนามัย ภาคธุรกิจเอกชนจากคอนโดมิเนียม ซึ่งมีหลักเกณฑ์หรือแนวทางที่คอนโดมิเนียมควรปฏิบัติ เช่น การเฝ้าระวังสภาวะสุขภาพและรู้เท่าทันสุขภาพตนเองด้วย AI อุทยานการเรียนรู้สุขภาพ กิจกรรมส่งเสริมสุขภาพ จัดสิ่งแวดล้อมเพื่อสุขภาพ และการประเมินผลเป็นการพัฒนาคุณภาพบริการสุขภาพ

โดยมีการขับเคลื่อนด้วยคณะกรรมการจัดการสุขภาพที่เป็นนิติบุคคล และแกนนำสุขภาพในคอนโดมิเนียม (กสค.) เป็นเจ้าภาพในการขับเคลื่อน โดยคาดว่ากรมสนับสนุนบริการสุขภาพ จะเปิดรับสมัครคอนโดมิเนียมที่สนใจเข้าร่วมโครงการ ในปีงบประมาณ 2564 เพื่อมอบรางวัลให้กับคอนโดมิเนียม ที่มีการบริการจัดการด้านสุขภาพที่เป็นต้นแบบคอนโดฯ สร้างสุขภาพต่อไป
        </p>
      </div>
      <div class="d-none d-xl-block col-3" align="center">
        <h3>ข่าวอื่นๆ</h3>
        <img src="{{ allNews[1].pic }}" style="height: 200px; margin: 20px 0;" />
        <img src="{{ allNews[4].pic }}" style="height: 200px; margin: 20px 0;" />
      </div>
    </div>
  </div>

  <div class="col-12 text-center" *ngIf="!isFeedback">
    <p>บทความนี้เป็นประโยชน์กับท่านหรือไม่?</p>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1" [checked]='true'>ใช่</mat-radio-button>
      <mat-radio-button value="2">ไม่ใช่</mat-radio-button>
    </mat-radio-group><br>
    <button mat-stroked-button (click)="sendFeedback()">ส่งความคิดเห็นของท่าน</button><br><br>
  </div>
  <div class="col-12 text-center" *ngIf="isFeedback">
    <h5>ขอบคุณสำหรับความคิดเห็นของท่าน</h5><br><br>
  </div>


  <!--suggest md only-->

  <div class="d-none d-sm-block text-center">
    <div class="d-xl-none">
      <h3>ข่าวอื่นๆ</h3>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10" style="margin: 10px;">
          <img src="{{ allNews[1].pic }}" style="height: 150px; margin: 20px;" />
          <img src="{{ allNews[4].pic }}" style="height: 150px;" />
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>

  <!--suggest lower sm-->

  <div class="d-block d-sm-none text-center">
    <h3>ข่าวอื่นๆ</h3>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <img src="{{ allNews[1].pic }}" style="height: 150px; margin: 20px;" />
        <img src="{{ allNews[4].pic }}" style="height: 150px;" />
      </div>
      <div class="col-1"></div>
    </div>
  </div>

</div>
