<app-lifedi-navbar></app-lifedi-navbar>

<div class="container" style="margin-top: 76px;">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center" style="margin: 15px 0;">จัดการบทความ, ข่าว</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <a mat-button (click)="journalOpen()" [ngStyle]="{'color': isJournal ? 'red' : ''}"
        style="padding: 6px; margin-left: 5px;">
        บทความ
      </a>
      <a mat-button (click)="newsOpen()" [ngStyle]="{'color': !isJournal ? 'red' : ''}"
        style="padding: 6px; margin-right: 5px;">
        ข่าว
      </a>
    </div>
    <div class="col-6">
      <!-- <form class="form-inline float-right"> -->
      <div *ngIf="isJournal">
        <input type="text" class="form-control" placeholder="ค้นหาบทความ" style="width: 70%; float: right;" />
      </div>
      <div *ngIf="!isJournal">
        <input type="text" class="form-control" placeholder="ค้นหาข่าว" style="width: 70%; float: right;" />
      </div>
      <!-- </form> -->
    </div>
  </div>

  <div class="row">
    <div class="table-responsive" style="max-height: 74vh; border: 1px solid #dee2e6; width: 100%; overflow-y: scroll;">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ผู้สร้าง</th>
            <th>ชื่อบทความ</th>
            <th>วันเผยแพร่</th>
            <th>จำนวนผู้อ่าน</th>
            <th>จำนวนความคิดเห็น</th>
            <th>จัดการ</th>
          </tr>
        </thead>
        <tbody *ngIf="isJournal">
          <tr *ngFor="let journal of journals">
            <td>
              {{journal.journalCreator}}
            </td>
            <td>
              {{journal.journalTitle}}
            </td>
            <td>
              {{journal.journalCreateDate}}
            </td>
            <td>
              {{journal.journalCount}}
            </td>
            <td>
              ความคิดเห็น
            </td>
            <td>
              <a mat-icon-button (click)="edit(journal)">
                <mat-icon>create</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>

        <tbody *ngIf="!isJournal">
          <tr *ngFor="let n of news">
            <td>
              {{n.creator}}
            </td>
            <td>
              {{n.title}}
            </td>
            <td>
              {{n.date}}
            </td>
            <td>
              {{n.count}}
            </td>
            <td>
              ความคิดเห็น
            </td>
            <td>
              <a mat-icon-button (click)="edit(n)">
                <mat-icon>create</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">จัดการผู้ใช้งาน </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <pre>
    {{modalData?.data|json}}
    </pre>
  </div>
</ng-template>
