span,
ngb-rating {
  outline: none !important;
  margin-left: 5px;
  margin-right: 5px;
}
a:hover {
  text-decoration: underline;
}
ngb-tabset {
  width: 100%;

  ng-template {
    width: 100%;
  }
  .card {
    width: 100% !important;
  }
}
ul.list-unstyled.chat {
  li {
    padding-top: 5px;
    // width: 100%;
    // padding: 10px 0 20px;
  }
}
ngb-rating {
  color: coral;
}
