<app-lifedi-navbar></app-lifedi-navbar>

<div class="container" style="margin-top: 76px;" *ngIf="course">
  <div class="row" style="padding: 40px 0;">
    <div class="col-12">
      <div class="row">
        <h3>{{course.courseTitle}}</h3>
      </div>
      <div class="row">
        <h5>{{course.courseBy}}</h5>
        <ng-template #t let-fill="fill">
          <span class="star">
            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
          </span>
        </ng-template>
        <ngb-rating [(rate)]="course.courseReview.courseRating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
        <span> {{course.courseReview.courseRating}}/5 </span>
        <span> ({{course.courseReview.courseReviewNumber}} รีวิว)</span>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <video controls autoplay width="100%">
          <source src="../../../assets/vdo/demo.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="col-5 offset-1">
      <div class="row">

        <ngb-accordion [closeOthers]="true" activeIds="lesson-0" style="width: 100%;">
          <ngb-panel [id]="'lesson-' + i" [title]="'บทที่ ' + [i+1] + ' : ' + lesson.lessonName"
            *ngFor="let lesson of course.courseLesson; let i = index">
            <ng-template ngbPanelContent>
              <a *ngFor="let topic of lesson.topic; let j = index">{{i+1}}.{{j+1}} {{topic.topicName}}<br></a>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

      </div>
    </div>
  </div>
  <div class="row">
    <ngb-tabset [destroyOnHide]="false">
      <ngb-tab title="เกี่ยวกับ">
        <ng-template ngbTabContent>
          <div class="container-fluid">
            <div class="row">
              {{course.aboutCourse.courseDetail}}
              <hr class="w-100">
            </div>
            <div class="row">
              <div class="offset-1 col-2">
                <h2>สอนโดย</h2>
                <img [src]="course.aboutCourse.courseBy.profilePic" class="avatar rounded-circle" width="150px"
                  height="150px">
              </div>
              <div class="offset-1 col" style="margin: auto; padding: 10px;">
                <h3>{{course.aboutCourse.courseBy.name}}</h3>
                <p>{{course.aboutCourse.courseBy.description}}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="รีวิว">
        <ng-template ngbTabContent>
          <div class="container-fluid">
            <div class="row">
              <ngb-rating [(rate)]="course.courseReview.courseRating" [readonly]="true" [max]="5"></ngb-rating>
              <span> {{course.courseReview.courseRating}}/5 </span>
              <span> ({{course.courseReview.courseReviewNumber}} รีวิว)</span>
            </div>
            <div class="row" *ngFor="let review of course.courseReview.review">
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">{{review.title}}</h5>
                  <p class="card-text">{{review.comment}}</p>
                  <p class="card-text"><small class="text-muted">{{review.date}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="ห้องสนทนา">
        <ng-template ngbTabContent>
          <div class="chat-message" style="width: 100%;">
            <ul class="list-unstyled chat">
              <li *ngFor="let comment of course.chatCourse.comment; let i = index;">
                <div class="container">
                  <h6 style="padding: 10px 0;">ความคิดเห็นที่ {{i+1}}</h6>
                  <div class="row" style="margin: auto;">
                    <div class="col-1 text-center">
                      <img [src]="comment.profilePic" alt="avatar" class="avatar rounded-circle"
                        style="width: 40px; height: 40px;">
                    </div>
                    <div class="col-11">
                      <div class="chat-body">
                        <div class="header">
                          <strong class="primary-font">{{comment.userName}}</strong>
                          <small class="pull-right text-muted"><i class="far fa-clock"></i>{{comment.date}}</small>
                        </div>
                        <p class="mb-0">
                          {{comment.comment}}
                          <i class="pull-right"><a href="#"><small>Reply</small></a></i>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <hr class="w-100"> -->
              </li>


              <!-- <li *ngFor="let comment of course.chatCourse.comment">
                    <div class="chat-body">
                      <div class="container">
                        <div class="col">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="avatar" class="avatar rounded-circle">
                        </div>
                        <div class="col">
                          <div class="header">
                            <strong class="primary-font">{{comment.userName}}</strong>
                            <small class="pull-right text-muted"><i class="far fa-clock"></i>{{comment.date}}</small>
                          </div>
                          <p class="mb-0">
                            {{comment.comment}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <hr class="w-100">
                  </li> -->
              <li class="white">
                <div class="form-group basic-textarea">
                  <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3"
                    placeholder="Type your message here..."></textarea>
                </div>
              </li>
              <button type="button"
                class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
            </ul>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
