// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "~bootstrap/scss/bootstrap";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Life-Di-primary: mat-palette($mat-indigo);
$Life-Di-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Life-Di-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Life-Di-theme: mat-light-theme(
  $Life-Di-primary,
  $Life-Di-accent,
  $Life-Di-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Life-Di-theme);

/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Kanit", sans-serif;
}
// html,
// body {
//   height: 100%;
// }
body {
  margin: 0;
  overflow-x: hidden;
  background-color: #f8f8f8 !important;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

.progress {
  // background-color: #fff !important;
  border-radius: 3rem !important;
  height: 1.75rem !important;

  > .bg-info {
    background-color: #2c4975 !important;
  }
}

.btn-link {
  color: #dd598c !important;
}

ngb-tabset {
  a {
    color: gray !important;
  }
  .nav-link.active {
    color: #dd598c !important;
  }
  small {
    color: #dd598c !important;
  }
}

ngb-accordion {
  .card {
    box-shadow: unset;
  }
  .card-header {
    padding: 0 !important;
    background-color: lavenderblush;

    .btn.focus,
    .btn:focus {
      box-shadow: none !important;
      outline: none !important;
    }

    > .btn {
      padding: 0.2rem 1.25rem !important;
    }
  }
  .card-body {
    padding: 0.7rem 2.7rem !important;
  }
}

.cal-month-view .cal-open-day-events {
  color: black;
  background-color: white;
  box-shadow: none;
}

.maincolor {
  color: #dd598c !important;
}

// // calendar activity

.cal-month-view .cal-cell-top {
  min-height: 40px;
}

.cal-month-view .cal-day-cell {
  min-height: 65px;
  max-height: 65px;
}

.cal-month-view .cal-day-badge {
  background-color: navy;
}

#adminActivity {
  // เลขวัน
  .cal-month-view .cal-day-number {
    font-size: 0.9em;
    margin-top: 0px;
  }

  // เลขกิจกรรม
  .cal-month-view .cal-day-badge {
    margin-top: 0;
  }

  // จุดกิจกรรม
  .cal-month-view .cal-event {
    width: 8px;
    height: 8px;
  }

  // ตอนกดแล้วโชว์กิจกรรมทั้งหมดของวัน
  .cal-month-view .cal-open-day-events {
    padding: 10px;
  }

  // ขนาดตัวอักษรของกิจกรรม
  .cal-month-view .cal-event-title {
    font-size: 0.8em;
  }

  .table-responsive {
    height: 75vh;
    max-height: 75vh;
  }
}
// end calendar activity

.modal-header .close {
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 90vw !important;
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
