<mat-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="assets\logo life-di.png" height="40px" />
      </div>
      <div class="col-4"><input type="text" placeholder="ค้นหา" /></div>
      <div class="col-2">คอร์สเรียน</div>
      <div class="col-2">กระทู้</div>
      <div class="col-1">
        <img src="assets\shoppingcart.png" height="30px" />
      </div>
      <div class="col-1">
        <div class="col">
          <div ngbDropdown class="d-inline-block" *ngIf="user">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
                  <img src="assets\person.png" height="30px" />
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                  <a ngbDropdownItem disabled>สวัสดีคุณ {{user.firstName}}</a>
                  <a ngbDropdownItem routerLink="/profile" (click)="$event.preventDefault()">ข้อมูลส่วนตัว</a>
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()">ตั้งค่า</a>
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()">ลงชื่อออก</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="!user">
          <a href="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
<div class="container">
  <h2>ข่าวสาร</h2>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-80" src="assets\natural1.jpg" alt="First slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-80" src="assets\natural2.jpg" alt="Second slide" />
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<h2>บทความ</h2>

<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="card" id="sizeCard">
      <img class="card-img-top" src="assets/cover.jpg">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" id="sizeCard">
      <img class="card-img-top" src="assets/cover.jpg">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" id="sizeCard">
      <img class="card-img-top" src="assets/cover.jpg">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

<!-- <mat-grid-list cols="7">
  <mat-grid-tile colspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-title>Course Name</mat-card-title>
      <img src="assets/cover.jpg" width="250px">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-title>Course Name</mat-card-title>
      <img src="assets/cover.jpg" width="250px">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-card>
      <mat-card-title>Course Name</mat-card-title>
      <img src="assets/cover.jpg" width="250px">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1"></mat-grid-tile>
</mat-grid-list> -->
