.ngb-carousel:focus {
  border: 0;
}

.searchbutton {
  background-color: palevioletred;
  color: white;
}

button:focus {
  outline: none !important;
}

ngb-carousel:focus {
  outline: none !important;
}

.more{
  color: #DD598C;
  float: right;
  padding: 0 0 10px 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray white;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: white;
}
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid white;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  // border-radius: 0.25rem;
  box-shadow: none;
}

// /* this stuff below doesn't
//    affect scrollbar styling */
// html {
//   background: lightgrey;
//   overflow: hidden;
// }
// body {
//   height: 100vh;
//   background: whitesmoke;
//   overflow-y: auto;
//   max-width: 310px;
//   margin: 0 auto;
//   padding: 2rem;
//   font: 100%/1.4 serif;
//   border: 1px solid rgba(0, 0, 0, 0.25);
// }
// p {
//   margin: 0 0 1.5em;
// }
// * {
//   box-sizing: border-box;
// }
