<!-- <mat-toolbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <img src="assets\logo life-di.png" height="80px" />
      </div>
      <div class="col-3"><input type="text" placeholder="ค้นหา" /></div>
      <div class="col-2">คอร์สเรียน</div>
      <div class="col-2">กระทู้</div>
      <div class="col-1">
        <img src="assets\icon\shoppingcart.png" height="30px" />
      </div>
      <div class="col-1">
        <div class="col">
          <div ngbDropdown class="d-inline-block" *ngIf="user">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
                  <img src="assets\icon\person.png" height="30px" />
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                  <a ngbDropdownItem disabled>สวัสดีคุณ {{user.firstName}}</a>
                  <a ngbDropdownItem routerLink="/profile">ข้อมูลส่วนตัว</a>
                  <a ngbDropdownItem href="#" (click)="$event.preventDefault()">ตั้งค่า</a>
                  <a ngbDropdownItem (click)="signout()">ลงชื่อออก</a>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="!user">
            <a href="/login">Login</a>
          </div> -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <img src="assets\logo life-di.png" height="80px" />
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="ค้นหา" aria-label="Search" />
        <button class="btn my-2 my-sm-0 searchbutton" type="submit">
          ค้นหา
        </button>
      </form>
      <li class="nav-item">
        <a class="nav-link" href="#">คอร์สเรียน</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">กระทู้</a>
      </li>
    </ul>
  </div>
  <div ngbDropdown class="d-inline-block">
    <ul class="navbar-nav ml-auto" *ngIf="user">
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
          <img src="assets/icon/person.png" height="30px" />
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <a ngbDropdownItem disabled>สวัสดีคุณ {{ user.firstName }}</a>
          <a ngbDropdownItem routerLink="/profile">ข้อมูลส่วนตัว</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">ตั้งค่า</a>
          <a ngbDropdownItem (click)="signout()">ลงชื่อออก</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!user">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<h2>ข่าวสาร</h2>

<div style="border-color: transparent;">
  <ngb-carousel *ngIf="bannerPic">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" style="width: auto; height: 50vh; max-height: 400px;">
        <img [src]="bannerPic[0]" alt="Random first slide" style="width: 100%; min-height: 400px; height: auto;"
          align="center" />
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" style="
          width: auto;
          height: 50vh;
          max-height: 400px;
          text-align: center;
        ">
        <img [src]="bannerPic[1]" alt="Random second slide" style="width: 100%; min-height: 400px; height: auto;"
          align="center" />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<h2>บทความ</h2>

<div  id="multi-item-example" class="carousel slide carousel-multi-item controls-top" data-ride="carousel" *ngIf="allJournal">

  <!--Controls-->
  <!-- <div class="controls-top"> -->
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>

  <!-- </div> -->
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox" >

    <!--First slide-->
    <div class="carousel-item active">

      <div class="row">
        <div class="col-md-4" *ngFor="let journal of allJournal">
          <div class="card mb-2">
            <img class="card-img-top" src="{{journal.journalPic}}" alt="Card image cap" style="height: 350px;">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  </div>
    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="row">
        <div class="col-md-4" *ngFor="let journal of allJournal">
          <div class="card mb-2">
            <img class="card-img-top" src="{{journal.journalPic}}" alt="Card image cap" style="height: 350px;">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>


    </div>
    <!--/.Second slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
<a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>

<h2>คอร์สเรียน</h2>
<div *ngIf="allCourses">
  <div class="row">
    <div class="col" *ngFor="let course of allCourses">
      <div class="card">
        <img class="card-img-top" src="{{ course.coursePic }}" style="height: 350px;"/>
        <div class="card-body">
          <h5 class="card-title">{{ course.courseTitle }}</h5>
          <p class="card-text">
            {{ course.courseInfo }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
