.ngb-carousel:focus {
  border: 0;
}

.searchbutton {
  background-color: palevioletred;
  color: white;
}

button:focus {
  outline: none !important;
}

ngb-carousel:focus {
  outline: none !important;
}

.more{
  color: #DD598C;
  float: right;
  padding: 0 0 10px 0;
}
